@import url('https://fonts.googleapis.com/css2?family=Benne&family=Brygada+1918&family=Hanalei&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Afectando etiqueta*/

/*
font-family: 'Benne', serif;
font-family: 'Brygada 1918', serif;
font-family: 'Hanalei', cursive;
*/

html{
    scroll-behavior: smooth;
}

h1{
    font-family:'Benne',sans-serif ;
}
h2,h3,h4{
    font-family: 'Brygada 1918',sans-serif;
}
p,a,table{

    font-family: 'Hanaleo',sans-serif;
}

header{
    height: auto;
    background-color: gold;
    color: darkcyan;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
   
}

nav{
    width: auto;
    color: white;
    
}

nav ul li {
    display:inline-block ;
  
    list-style: none;
}
nav a{
color: white;
text-decoration: none;
display: block;
padding: 20px;
transition: 0.5s;
}
nav a:hover{
   background-color:red;
}
/*Afectando Clase*/
main{
    width: 90vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#welcome
{
    width: 100%;
    margin: 0;
    border-radius: 0;
    background-image: url(../img/imagen2.jpg);
    background-size: cover;

    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
   
    text-align: center;
    background-position: center;
}
#aboutMe
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profilePic
{
    width: 400px;
    height: 400px;
    background-color:black;
    background-image: url(../img/imagen1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow:hidden ;
    box-shadow:  0px 0px 100px rgb(0,0,0,0.9)
}

#social {
    margin-top: 15px;
}

#social li {
    display: inline-block;
}

#social li a {
    font-size: x-large;
    color: white;
    padding: 10px;
    transition: 0.5s;
}

#social li a.facebook :hover {
    color:blue;
    transition: 0.5s;
}

#social li a.youtube :hover {
    color: red;
    transition: 0.5s;
}

#social li a.github :hover {
    color: green;
    transition: 0.5s;
}

section{
    margin-top: 20px;
    width: 80%;
    height: auto;
    background-color: #333;
    color:rgba(255, 255, 255, 0.377);
    padding: 25px;
    border-radius: 20px;
}
/* Media mediaquery, prueba de pantalla
@media (max-width:800px)
{
   
    #social
    {
        display: none;
    }
    
}
*/

/*Se empezo  a utilizar los mediaquery*/
@media (max-width:640px)
{
    #profilePic
    {
        width: auto;
        height: 250px;
        background-color:black ;
        background-image: url(../img/imagen1.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        overflow:hidden ;
        box-shadow:  0px 0px 100px rgb(0,0,0,0.9)
    }

    
    header{
    height: auto;
    background-color: black;
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
   
    }

    nav{
        background-color:coral;
    }
    div
    {
        background-color: rgba(143, 220, 20, 0.493);
    }
    #home
    {
        background-color: rgba(143, 220, 20, 0.493);
    }

}
@media (min-width:641px) and (max-width:1007px)
{
    #profilePic
    {
        width: auto;
        height: 250px;
        background-color:black ;
        background-image: url(../img/imagen1.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        overflow:hidden ;
        box-shadow:  0px 0px 100px rgb(0,0,0,0.9)
    }

    header{
        height: auto;
        background-color: black;
        color: yellow;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
       
        }

        nav{
            background-color: purple;
        }
        div
        {
            background-color: rgba(20, 113, 220, 0.445);
        }
        #home
        {
            background-color: rgba(20, 113, 220, 0.445);
        }

      
}

@media (min-width:1008px)
{
    #profilePic
    {
        width: auto;
        height: 250px;
        background-color:black ;
        background-image: url(../img/imagen1.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        overflow:hidden ;
        box-shadow:  0px 0px 100px rgb(0,0,0,0.9)
    }
    header{
        height: auto;
        background-color: black;
        color: purple;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
       
        }

        nav{
            background-color:goldenrod;
        }

        div
        {
            background-color: rgba(220, 43, 20, 0.445);
        }
        #home
        {
            background-color:  rgba(220, 43, 20, 0.445);
        }
}